## Pandas

### data manipulation library, data analysis and cleanig using Series and DataFrame

In [255]:
import pandas as pd

## Creating Series

### 1D array like object

#### From List

In [256]:
data = [1, 2, 3, 4, 5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### From Dict

In [257]:
data = {"a": 1, "b": 2, "c": 3}
series = pd.Series(data)
print(series)

a    1
b    2
c    3
dtype: int64

### Custom index in series

In [258]:
data = [10, 20, 30]
index = ["a", "b", "b"]
series = pd.Series(data, index=index)
print(series)

a    10
b    20
b    30
dtype: int64

## Creating DataFrame

### 2D array like object

### From Dict of Lists

In [259]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["New York", "Los Angeles", "Chicago"],
}

df = pd.DataFrame(data)
print(df)

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

### From List of Dicts

In [260]:
data = [
    {"name": "Alice", "age": 25, "city": "New York"},
    {"name": "Bob", "age": 30, "city": "Los Angeles"},
    {"name": "Charlie", "age": 35, "city": "Chicago"},
]

df = pd.DataFrame(data)
print(df)

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

### From CSV

In [261]:
df = pd.read_csv("data.csv")
print(df)

        name  age        city
0  Sudhanshu   24   Hyderabad
1       Ansh   24        Pune
2       Jack   26  Coimbatore

## Indexing DataFrame

In [262]:
df = pd.read_csv("data.csv")

In [263]:
# Accessing columns
print(df["name"])

# Accessing rows
print(df[0:1])

0    Sudhanshu
1         Ansh
2         Jack
Name: name, dtype: object
        name  age       city
0  Sudhanshu   24  Hyderabad

In [264]:
# Accessing rows by index
print(df.iloc[0])
print(df.iloc[:, 0:2])

name    Sudhanshu
age            24
city    Hyderabad
Name: 0, dtype: object
        name  age
0  Sudhanshu   24
1       Ansh   24
2       Jack   26

In [265]:
# Accessing rows by label
print(df.loc[0])
print(df.loc[0:1, "name":"age"])

name    Sudhanshu
age            24
city    Hyderabad
Name: 0, dtype: object
        name  age
0  Sudhanshu   24
1       Ansh   24

In [266]:
# Accessing single value by index
print(df.iat[0, 2])

Hyderabad

In [267]:
# Accessing single value by label
print(df.at[0, "name"])

Sudhanshu